.Project {
  height: 100%;
  display: flex;
  gap: .125rem;
  width: 100%;
  flex-direction: column;
  background-color: whitesmoke;

  .header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: .25rem 0;

    .project-title {
      flex-grow: 1;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .tasks {
    overflow-y: auto;
  }

  .footer {
    background-color: whitesmoke;
  }
}

.display-none {
  display: none;
}